<IfModule mod_rewrite.c>
   RewriteEngine on
   RewriteRule    ^$ app/webroot/    [L]
   
#   RewriteCond %{REQUEST_URI} !^/img [NC]
#   RewriteCond %{REQUEST_URI} !^/js [NC]
   RewriteRule    (.*) app/webroot/$1 [L]
</IfModule>